@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600);
nav {
  background: #2F313F;
  color: #697584;
  border-right: 1px solid #383C4C; }
  nav a {
    color: #697584; }
    nav a:hover {
      color: #fff; }
    nav a.active {
      background-color: #F50000;
      color: #fff;
      font-weight: bold; }

#list {
  background: #282B37;
  color: #fff; }
  #list ul {
    border-color: #1F212E !important; }
    #list ul li.active {
      color: #fff;
      background: #1F212E; }
    #list ul a {
      color: #738090; }
      #list ul a:hover {
        color: #fff; }

#main, body {
  background: #F5F8FB; }

@media screen and (min-width: 1024px) {
  #main {
    box-shadow: -6px 0px 16px 0px rgba(0, 0, 0, 0.3); } }

header {
  border-bottom: 1px solid #E4E8EA; }

.post {
  border: 1px solid #E4E8EA; }
  .post .postTime {
    color: #aaa; }

/* Basics */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  font-size: 1em; }

* {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none; }

textarea, input {
  outline: none; }

/* Layout */
@media screen and (min-width: 1024px) {
  aside {
    width: 30%;
    height: 100%;
    position: fixed; } }
@media screen and (max-width: 1023px) {
  aside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background: #282B37;
    left: -100%; } }

@media screen and (min-width: 1024px) {
  nav {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 90px;
    float: left; } }
nav:after {
  content: "";
  display: table;
  clear: both; }
nav a {
  box-sizing: border-box;
  display: block;
  font-weight: 500;
  padding-bottom: 20px;
  text-align: center;
  background: transparent;
  background-position: top center;
  background-repeat: no-repeat; }
  @media screen and (min-width: 1024px) {
    nav a {
      font-size: 0.8em;
      width: 90px;
      height: 90px;
      padding-top: 60px;
      background-size: 70px 70px; } }
  @media screen and (max-width: 1023px) {
    nav a {
      font-size: 0.7em;
      float: left;
      width: 60px;
      height: 60px;
      padding-top: 40px;
      background-size: 50px 50px; } }
nav a.home {
  background-image: url("img/icon_home.png"); }
nav a.settings {
  background-image: url("img/Settings-02-128.png"); }
nav a.messages {
  background-image: url("img/Message-128.png"); }
nav a.info {
  background-image: url("img/Message-Information-128.png"); }
nav a.menuCloser {
  float: right;
  background-image: url("img/Login-Arrow-128.png");
  display: none; }
  @media screen and (max-width: 1023px) {
    nav a.menuCloser {
      display: inherit; } }
  nav a.menuCloser:hover {
    cursor: pointer; }

#list {
  box-sizing: border-box; }
  #list:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 1024px) {
    #list {
      overflow: hidden;
      width: 100%;
      height: 100%;
      padding-left: 90px;
      padding-top: 0px; } }
  #list ul {
    display: block;
    margin-bottom: 15px;
    padding: 15px;
    border-bottom: 1px solid transparent; }
    #list ul h3 {
      font-weight: inherit;
      margin-bottom: 10px; }
    #list ul li {
      display: block;
      padding: 4px 10px;
      border-radius: 5px; }
      #list ul li a {
        display: inline-block; }
      #list ul li a.ullink {
        width: 80%; }
      #list ul li a.dashicons {
        float: right;
        margin-top: 3px; }

header {
  background: #fff;
  position: fixed;
  top: 0;
  opacity: 0.95;
  display: block;
  width: 100%;
  height: 90px; }
  @media screen and (min-width: 1024px) {
    header {
      width: 70%; } }
  header a.title {
    text-indent: -9999px;
    display: block;
    float: left;
    width: 60%;
    height: 90px;
    background: url("img/logo.png") no-repeat;
    background-position: 0 10px;
    background-size: 144px 70px; }
    @media screen and (min-width: 1024px) {
      header a.title {
        margin-left: 10%; } }
    @media screen and (max-width: 1023px) {
      header a.title {
        margin-left: 3%; } }
  header a.menuOpener {
    text-indent: -9999px;
    display: block;
    height: 45px;
    width: 45px;
    margin-top: 22.5px;
    margin-right: 3%;
    background: #eee;
    float: right;
    display: none; }
    @media screen and (max-width: 1023px) {
      header a.menuOpener {
        display: inherit; } }
  header #search input {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #333;
    margin-top: 25px; }
    @media screen and (max-width: 1023px) {
      header #search input {
        display: none; } }

#main {
  padding-top: 90px; }
  @media screen and (min-width: 1024px) {
    #main {
      width: 70%;
      position: absolute;
      top: 0;
      min-height: 100%;
      overflow: scroll;
      left: 30%; } }

#content {
  margin: 30px auto; }
  @media screen and (min-width: 1024px) {
    #content {
      width: 80%; } }
  @media screen and (max-width: 1023px) {
    #content {
      width: 94%; } }

.post {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px; }
  .post .icon {
    background: #eee;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 5px;
    float: left; }
  .post .postContent {
    margin-left: 70px;
    width: auto; }
  .post .postMeta div {
    display: inline-block; }
  .post .postAuthor {
    font-weight: bold; }
  .post .postText {
    margin-top: 5px; }
  .post:after {
    content: "";
    display: table;
    clear: both; }

/*# sourceMappingURL=main.css.map */
