{% extends 'base.html' %}

{% block list %}
	{% if group_list %}
	<ul class="groups">
		<h3>Meine Gruppen</h3>
		{% for group in group_list %}
		<li class="{% if false %}active{% endif %}"> <!-- Falls aktiv: highlighting -->
			<a class="ullink" href="#">#{{ group.name }}</a> <!-- Hier muss ein Kurzname für die Gruppe rein!!! -->
			<a class="dashicons dashicons-edit" href="#"></a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	
	{% if user_list %}
	<ul class="following">
		<h3>Folgend</h3>
		 {% for user in user_list %}
		<li><a class="ullink" href="#">@{{ user.nickname }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}

{% block nav %}
	<a class="home active" href="{% url 'twittur:index' %}">Start</a>
	<a class="messages" href="#">Nachrichten</a>
	<a class="info" href="{% url 'twittur:info' %}">Info</a>
	<a class="settings" href="{% url 'twittur:settings' %}">Einstellungen</a>
{% endblock %}

{% block content %}

		<div class="post">
			<div class="icon"></div>
			<div class="postContent">
				<div class="postMeta">
					<div class="postAuthor">@steffen</div>
					<div class="postTime">19. Mai 2015 - 18:26</div>
				</div>
				<div class="postText">
					So k&ouml;nnte twitTUr aussehen ... la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la 
				</div>
			</div>
		</div>
		
		
		<div class="post">
			<div class="icon"></div>
			<div class="postContent">
				<div class="postMeta">
					<div class="postAuthor">@steffen</div>
					<div class="postTime">19. Mai 2015 - 18:20</div>
				</div>
				<div class="postText">
					Hallo Welt! :)
				</div>
			</div>
		</div>

{% endblock %}