{% extends 'base.html' %}

{% block list %}
	{% if group_list %}
	<ul class="groups">
		<h3>Meine Gruppen</h3>
		{% for group in group_list %}
		<li class="{% if false %}active{% endif %}"> <!-- Falls aktiv: highlighting -->
			<a class="ullink" href="#">#{{ group.name }}</a> <!-- Hier muss ein Kurzname für die Gruppe rein!!! -->
			<a class="dashicons dashicons-edit" href="#"></a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	
	{% if user_list %}
	<ul class="following">
		<h3>Folgend</h3>
		 {% for user in user_list %}
		<li><a class="ullink" href="#">@{{ user.nickname }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}

{% block nav %}
	{% include 'layout/nav.html' %}
{% endblock %}

{% block content %}
			<div class="profil">
				<div class="container-fluid">
				<div class="row">
					<div class="col-xs-6 col-md-5">
						<div class="icon"><img src="/static/css/img/profil_user200.jpg" class="img-thumbnail"></div>
					</div>
					<div class="col-xs-13 col-md-7">
						<div class="profilAuthor">Steffen Mustermann</div>
						<div class="profilNick">@steffen</div>
						<div class="profilStadt"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Berlin</div>
						<div class="profilStadt"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Registriert seit Mai 2015</div>
						<div class="profilLink"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Nachricht senden</div>
						<div class="profilLink"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nachfolgen</div>
					</div>
				</div>
				</div>
			</div>
			
		<!-- Profil Seite -->
			<div class="post">
				<div class="icon"><img src="/static/css/img/profil_user.jpg" class="img-thumbnail"></div>
				<div class="postContent">
					<div class="postMeta">
						<div class="postAuthor">@steffen</div>
						<div class="postTime">19. Mai 2015 - 18:26</div>
					</div>
					<div class="postText">
						So k&ouml;nnte twitTUr aussehen ... la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la la 
					</div>
				</div>
			</div>
			
			<div class="post">
					<div class="postContent">
						<div class="postMeta">
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <div class="postAuthor">@steffen</div> bewertet <div class="postAuthor">@anonymus</div>
						</div>
					</div>
					<div class="icon"><img src="/static/css/img/profil_user2.png" class="img-thumbnail"></div>
					<div class="postContent">
						<div class="postMeta">
							<div class="postAuthor">@anonymus</div>
							<div class="postTime">19. Mai 2015 - 18:20</div>
						</div>
						<div class="postText">
							Hallo Welt! :)
						</div>
					</div>
				</div>
			
			<div class="post">
					<div class="postContent">
						<div class="postMeta">
							<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <div class="postAuthor">@steffen</div> bewertet <div class="postAuthor">@alex</div>
						</div>
					</div>
					<div class="icon"><img src="/static/css/img/user4.png" class="img-thumbnail"></div>
					<div class="postContent">
						<div class="postMeta">
							<div class="postAuthor">@alex</div>
							<div class="postTime">19. Mai 2015 - 18:20</div>
						</div>
						<div class="postText">
							Ciao Welt! :(
						</div>
					</div>
				</div>
{% endblock %}