{% extends 'base.html' %}

{% block list %}
	{% if group_list %}
	<ul class="groups">
		<h3>Meine Gruppen</h3>
		{% for group in group_list %}
		<li class="{% if false %}active{% endif %}"> <!-- Falls aktiv: highlighting -->
			<a class="ullink" href="#">#{{ group.name }}</a> <!-- Hier muss ein Kurzname für die Gruppe rein!!! -->
			<a class="dashicons dashicons-edit" href="#"></a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	
	{% if user_list %}
	<ul class="following">
		<h3>Folgend</h3>
		 {% for user in user_list %}
		<li><a class="ullink" href="#">@{{ user.nickname }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}

{% block nav %}
	{% include 'layout/nav.html' %}
{% endblock %}

{% block content %}

    <form>
              
        <div class="post">
        	
            <h4>Profilbild auswählen</h4>
            
            <div class="col-xs-12 form-group">
                <input type="file">
            </div>
            
        </div>
        
        <div class="post">
        
        	<h4>Accountverwaltung</h4>
        
            <div class="col-xs-12 form-group">
                <label>Username</label>
                <input class="form-control" type="text" value="kps" disabled />
                <p class="help-block">Der Username kann nicht ver&auml;ndert werden.</p>
            </div>
            
            <div class="col-xs-12 form-group">
                <label>E-Mail</label>
                <input class="form-control" type="email" value="karl.p.schmidt@campus.tu-berlin.de" />
            </div>
            
            <div class="col-xs-12 col-sm-6 form-group">
                <label class="control-label">Passwort</label>
                <input class="form-control" type="password" value="test1234" />
            </div>    
            <div class="col-xs-12 col-sm-6 form-group pull-right">
                <label class="control-label">Passwort bestätigen</label>
                <input class="form-control" type="password" value="test1234" />
            </div>
    
        </div>  
        
        <div class="post">
        
        	<h4>Pers&ouml;nliche Daten</h4>
        
            <div class="col-xs-12 form-group">
                <label>Studiengang</label>
                <input class="form-control" type="text" value="Wirtschaftsinformatik" />
                <p class="help-block">Über deinen Studiengang wirst Du bestimmten Gruppen zugeordnet.</p>
            </div>
        
            <div class="col-xs-12 form-group">
                <label>Matrikel-Nummer</label>
                <input class="form-control" type="number" value="347132" />
                <p class="help-block">Über deine Matrikel-Nummer kannst Du eindeutig als Student der TU Berlin identifiziert werden.</p>
            </div>
        
            <div class="col-xs-12 form-group">
                <label>Wohnort</label>
                <input class="form-control" type="text" value="Falkensee" />
            </div>
    
        </div>  
              
        <div class="post">
        	
            <h4>Seiteneinstellungen</h4>
            
            <div class="col-xs-12 form-group">
                <label>Standard-Sicherheitsstufe</label>
                <select class="form-control">
                    <option>public</option>
                    <option>Uni</option>
                    <option>Fakultät</option>
                    <option selected>Studiengang</option>
                </select>
            </div>
            
        </div>
            
        <div class="col-xs-12 form-group text-center">
            <input type="submit" class="btn btn-primary" />
            <input type="reset" class="btn btn-default" />
        </div>
    
    </form>

{% endblock %}