{% include 'header.html' %}
  {% if active_page != 'ftu' %}
  <a href="#main" class="scrollTop btn btn-primary btn-grey">
  	<span class="glyphicon glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
  </a>
  <button type="button" class="newMsg btn btn-primary pull-left" data-toggle="modal" data-target="#newMessage" title="Neue Nachricht verfassen">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  </button>
  {% endif %}
  
  <div id="aside">
    <nav>
    	{% block nav %} 
      {% endblock %}
    </nav>
    <div id="list">
        <div class="scrollable">
    	{% block list %} 
      {% endblock %}
            </div>
    </div>
  </div>
  <div id="main">
    <header id="head">
      <a class="title" href="{% url 'twittur:index' %}">twittur</a>
      <form action="{% url 'twittur:search' %}" id="search" method="GET" class="searchForm pull-right">
        <div class="form-group pull-left">
          <input id="search_input" name="search_input" type="text" class="form-control" placeholder="Suche" title="Suchbegriff eingeben">
        </div>
        <button type="submit" class="btn btn-primary pull-right" title="Suche starten">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </form>
    </header>
    <div class="container-fluid searchBar">
      <form action="{% url 'twittur:search' %}" class="searchForm" id="search" method="GET">
        <div class="col-xs-10 col-sm-11 form-group pull-left">
          <input class="form-control" id="search_input" name="search_input" type="text" placeholder="Suche" title="Suchbegriff eingeben">
        </div>
        <button type="submit" class="col-xs-2 col-sm-1 btn btn-default pull-right" title="Suche starten">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </form>      
    </div>
    <div class="container-fluid" id="content">
    	{% if success_msg or error_msg %}
        {% if success_msg %}
          <div class="infoMessage alert alert-{% if 'entsperren' in success_msg %}warning{% else %}success{% endif %}" role="alert">
            <span class="glyphicon glyphicon-{% if 'entsperren' in success_msg %}exclamation-sign{% else %}ok{% endif %}" aria-hidden="true"></span>
            {{ success_msg|safe }}
            <span class="glyphicon glyphicon-remove pull-right hideInfo" aria-hidden="true" ></span>
          </div>
        {% endif %}
      
        {% if error_msg %}
          <div class="infoMessage alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-remove pull-right hideInfo" aria-hidden="true" ></span>
          {% for key, value in error_msg.items %}
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            {{ value|safe }}<br />
          {% endfor %}
          </div>
        {% endif %}
      {% endif %}
      
    	{% block content %}	
      {% endblock %}
    </div>
    
    <div class="modal fade" id="newMessage" tabindex="-1" role="dialog" aria-labelledby="newMessageLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
        	{% if active_page in 'profile' and pUser %}
          <form action="{% url 'twittur:profile' user=pUser %}" method="post" enctype="multipart/form-data">
          {% elif active_page == 'group' and group %}
          <form action="{% url 'twittur:group' groupshort=groupshort %}" method="post" enctype="multipart/form-data">
        	{% else %}
          <form action="{% url 'twittur:index' %}" method="post" enctype="multipart/form-data">
          {% endif %}
          {% csrf_token %}
            <input name="msgDialog" type="hidden" value="true" />
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Neue Nachricht verfassen</h4>
              <small>{% now "j. F Y, H:i" %} Uhr</small>
            </div>
            <div class="modal-body">
                
            	{{ msgForm.text }}
              <div class="newMsgPctr container-fluid clearfix">
              	<span class="col-xs-6 pull-left"><strong>Bild hinzuf&uuml;gen</strong></span>
              	<span class="col-xs-1 glyphicon glyphicon-plus pull-right text-right" aria-hidden="true"></span>
              	<div class="col-xs-12 clearfix hidden">
                  {{ msgForm.picture }}
                </div>
              </div>
              <!--
              <dl class="newMsgInfo container-fluid clearfix">
              	<dt class="col-xs-4 pull-left"><strong>@</strong><em>&lt;Benutzername&gt;</em></dt>
                <dd class="col-xs-8 pull-left">f&uuml;gt Benutzer als Empf&auml;nger hinzu.</dd>
                
              	<dt class="col-xs-4 pull-left"><strong>&amp;</strong><em>&lt;Gruppen-Abk&uuml;rzung&gt;</em></dt>
                <dd class="col-xs-8 pull-left">f&uuml;gt Gruppen-Link hinzu.</dd>
                
              	<dt class="col-xs-4 pull-left"><strong>#</strong><em>&lt;Thema&gt;</em></dt>
                <dd class="col-xs-8 pull-left">f&uuml;gt ein Thema der Nachricht hinzu.</dd>
              </dl>
              -->
            </div>
            <div class="modal-footer">
              <div class="visibility" title="Sichtbarkeit einstellen">
              	<p class="text-center">
                	<span class="glyphicon glyphicon-eye-open"></span>
                </p>
                <select class="superDropdown" id="id_safety" name="safety" placeholder="{{ request.user.userprofile.safety }}" default="{{ request.user.userprofile.safety }}">
                	{% for item in safetyLevels %}
                    {% if item.0 and item != 'Public' %}
                      <optgroup label="Gruppe ausw&auml;hlen">
                        {% for grp in item %}
                          <option value="&amp;{{ grp.short }}" {% if request.user.userprofile.safety == grp.name %} selected="selected"{% endif %}>{{ grp.short }}</option>
                        {% endfor %}
                      </optgroup>
                    {% else %}
                      <option value="{% if item != 'Public' %}&amp;{{ item.short }}{% else %}Public{% endif %}" {% if request.user.userprofile.safety == item.name %} selected="selected"{% endif %}>
                      	{% if item != 'Public' %}{{ item.name }}{% else %}{{ item }}{% endif %}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              {{ msgForm.user }}
              {{ msgForm.date }}
              <input type="hidden" name="codename" value="message" />
              <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
              <button type="submit" class="btn btn-primary" disabled="disabled">Nachricht senden</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% include 'layout/notificationBox.html' %}
{% include 'footer.html' %}