{% include 'header.html' %}
<body>
<div id="aside">
	<nav>
        {% block nav %} 
        {% endblock %}
	</nav>
	<div id="list">
        {% block list %} 
        {% endblock %}
	</div>
</div>


<div id="main">
	<header>
		<div id="head">
			<a class="title" href="#">twittur</a>
            <form action="" id="search" method="GET" class="searchForm pull-left">
              <div class="form-group pull-left">
                <input id="searchInput" name="search" type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-primary pull-left">Go</button>
            </form>
		</div>
		<div id="infoBar">
	        {% block infobar %} 
	        {% endblock %}
		</div>
	</header>
	<div id="content">
		{% block content %}	
		{% endblock %}	
	</div>
</div>

</body>
{% include 'footer.html' %}