{% include 'header.html' %}
<body>
<div id="ftu" class="full-page">
	<div class="center">
		<a class="title" href="#">twittur</a>

		<div class="column column-left">
			<div class="headline">
				twit<span>tu</span>r ist ein soziales Netzwerk f&uuml;r die TU Berlin.
			</div>
			<div class="subline">
				<p>Es hilft Dir, einfach mit Kommilitonen, Lehrst&uuml;hlen und anderen Organisationen in Kontakt zu bleiben, ohne dass Du den &Uuml;berblick verlierst. </p>
				<p>Erstelle gleich ein Konto und folge Nachrichten, die Dich interessieren. Oder sieh dir an, was die Nutzer von twit<span>tu</span>r der <a href="#ftuPosts">Welt</a> mitzuteilen haben.</p>
			</div>
		
		
		</div>
		
		<div class="column column-right">

			<div class="box loginBox">
				

					<h2 class="active toggle" id="show_login">Anmelden</h2>
					<h2 class="toggle" id="show_register">Registrieren</h2>
		
					<div class="toggleItem" id="login">

						<form method="GET">
							{% csrf_token %} 
							<input type="text" name="username" id="username" placeholder="Username"  /><br />
							<input type="password" name="password" name="password" placeholder="Passwort"  /><br />
							{% if error_login %}
								<p><font color="#FF0000">{{ error_login }}</font></p>
							{% else %}
								<p></p>
							{% endif %}
							<input type="submit" value="Los geht's!" name="login" />
							<input type="reset" value="Zurücksetzen" />
						</form>
						
						
					</div>
					
					<div class="toggleItem" id="register">
						<form method="POST" action="">
							{% csrf_token %} 
							<p>Login Daten</p>
							<input type="text" name="name" placeholder="Username" id="name"/>
							<br />
							<input type="password" name="password" placeholder="Passwort" id="password" /><br />
							<input type="password" name="ack_password" placeholder="Passwort bestätigen" id="ack_password" /><br />
							{% if error_reg_user_p or error_reg_user_n %}
								
								{% if error_reg_user_n %}
									<p><font color="#FF0000">{{ error_reg_user_n }}</font></P>
								{% endif %}
								{% if error_reg_user_p %}
									<p><font color="#FF0000">{{ error_reg_user_p }}</font></p>
								{% endif %}
							{% else %}
								<p></p>
							{% endif %}
							<br />
							<p>Persönliche Daten</p>
							<input type="text" name="first_name" placeholder="Vorname" id="first_name"   /><br />
							<input type="text" name="last_name" placeholder="Nachname" id="last_name"   /><br />
							<input type="text" name="email" placeholder="E-Mail" id="email" /><br />
							<input type="text" name="academicDiscipline" placeholder="Studiengang" id="academicDiscipline" /><br />
							<input type="text" name="studentNumber" placeholder="Matrikelnummer" id="studentNumber" /><br />
						
								{% if error_reg_userprofile_e %}
									<p><font color="#FF0000">{{ error_reg_userprofile_e }}</font></p>
								{% endif %}
								{% if error_reg_userprofile_nr %}
									<p><font color="#FF0000">{{ error_reg_userprofile_nr }}</font></p>
								{% endif %}
								{% if error_reg_userprofile_ad %}
									<p><font color="#FF0000">{{ error_reg_userprofile_ad }}</font></p>
								{% endif %}
							
							<br />
														
							
							
							<input type="submit" class="registerButton" value="Registrieren" name="submit" />
							<input type="reset" value="Zurücksetzen" />
						</form>
						
						
					</div>	
			</div>
			<div class="box forgotBox">
				<h2>Passiert jedem mal ...</h2>
				<form method="POST">
				<input type="text" name="password_reset" placeholder="Deine Mailadresse" /><br />
				<input type="submit" class="forgotSendButton" value="Neues Passwort anfordern" />
				
				<a href="#" class="forgotBack">Zur&uuml;ck</a>				
			</div>			
			
		</div>		
		
		
	</div>
</div>
<div id="ftuPosts" class="full-page">
	Hier kommen dann die öffentlichen Posts rein.
</div>

</body>
{% include 'footer.html' %}