{% extends 'base.html' %}

{% block list %}
<!--	{% if hashtag_list %}
    <ul class="groups">
      <h3>Heiße Themen</h3>
      {% for hashtag in hashtag_list %}
      <li class="{% if false %}active{% endif %}"> <!-- Falls aktiv: highlighting 
        <a href="/twittur/hashtag/{{ hashtag.name }}">#{{ hashtag.name }}</a> <!-- Hier muss ein Kurzname für die Gruppe rein!!! 

      {% endfor %} 
    </ul>
  {% endif %}
	
	{% if user_list %}
    <ul class="following">
      <h3>Folgend</h3>
      {% for user in user_list %}
      <li><a class="ullink" href="#">@{{ user.nickname }}</a></li>
      {% endfor %}
    </ul>
  {% endif %} -->
  
  {% include 'layout/nav_foot.html' %}
{% endblock %}

{% block nav %}
  {% include 'layout/nav.html' %}
{% endblock %}

{% block content %}
  
  {% if message_list %}
    {% for message, dbmessage in message_list %}
      {% include "message_box.html" with message=message dbmessage=dbmessage page=active_page user=user  %}
    {% endfor %}
  {% else %}
    <div class="text-center"><em>Keine Nachrichten zum Anzeigen gefunden!</em></div>
  {% endif %}
{% endblock %}