{% extends 'base.html' %}

{% block list %}
  {% include 'layout/sidebar.html' %}
{% endblock %}

{% block nav %}
	{% include 'layout/nav.html' %}
{% endblock %}

{% block content %}

{% if request.user.is_superuser %}
	<h3 class="text-uppercase" id="faq-hinzufuegen">FAQ Hinzuf&uuml;gen</h3>
  
  <form action="{% url 'twittur:faq' %}" class="clearfix" method="POST">
    {% csrf_token %}
    {{ faqForm.author }}
  	<div class="col-xs-6 form-group">
    	<label for="questionInput">Frage eintragen</label>
      {{ faqForm.question }}
    </div>
  	<div class="col-xs-6 form-group pull-right">
    	<label for="katSelect">Kategorie w&auml;hlen</label>
      <select class="form-control" id="id_category" name="category">
      	{% if faqForm.categories|length > 0 %}
        <optgroup label="Kategorien">
        	{% for item in faqForm.categories %}
          <option value="{{ item.category }}">{{ item.category }}</option>
          {% endfor %}
        </optgroup>
        {% endif %}
        <optgroup label="Weitere">
          <option value="Kategorie erstellen">Kategorie erstellen</option>
        </optgroup>
      </select>
      {{ faqForm.other }}
      {% if faqForm.category.errors %}
        <p><font color="#FF0000">{{ faqForm.category.errors|safe }}</font></p>
      {% endif %}
    </div>
  	<div class="col-xs-12 form-group clearfix">
    	<label for="answerInput">Antwort eintragen</label>
    	{{ faqForm.answer }}
    </div>
    <div class="col-xs-12 form-group text-right">
      <button class="btn btn-default" type="reset">Zur&uuml;cksetzen</button>
      <button class="btn btn-primary" type="submit">Speichern</button>
    </div>
  </form>
{% endif %}

	{% for faq in FAQs %}
  	{% include 'info_faq_box.html' with list=faq %}	
	{% endfor %}

{% endblock %}