{% include 'header.html' %}
<header class="container text-center">
  <div class="clearfix"><a class="title" href="{% url 'twittur:install' %}">twittur</a></div>
  <h3 class="clearfix text-uppercase">Installation</h3>
  <p class="help-block text-justify">
  	Die Installation umfasst die Erstellung der Standard-Gruppen (TU Berlin, Fakult&auml;ten, Studieng&auml;nge) und die Erstellung eines Admin-Nutzers.<br>
    <br>
    Zur Erstellung des Admin-Nutzers werden folgende Daten ben&ouml;tigt:
  </p>
</header>
<div class="container">
  <form action="{% url 'twittur:install' %}" class="post" method="POST">
  {% csrf_token %}
  	<p class="text-center">{% if error_msg %}<font color="#FF0000">{{ error_msg|safe }}</font>{% endif %}</p>   
    <div class="col-xs-12 form-group">
      <label for="id_user">Admin Nutzername</label>
      <input class="form-control" id="id_username" name="username" placeholder="Admin: Username" type="text" value="admin" disabled />
      <p class="help-block">Der Nutzername ist festleget und kann nicht ge&auml;ndert werden.</p>
    </div>
    <div class="col-xs-12 form-group">
      <label for="id_password">Admin Passwort</label>
      <input class="form-control" id="id_password" name="password" placeholder="Admin: Password" type="text" required>
    </div>
    <div class="col-xs-12 form-group">
      <label for="id_email">Admin E-Mail Adresse</label>
      <input class="form-control" id="id_email" name="email" placeholder="Admin: E-Mail" type="email" required>
    </div>
    
    <div class="col-xs-12 form-group text-right">
      <input class="btn btn-default" type="reset">
      <input class="btn btn-primary" type="submit">
    </div>  
  </form>
</div>
{% include 'footer.html' %}