<div class="cmtContent" id="cmt{{ comment.0.id }}">

<div class="cmtBox">
  <div class="cmtMeta {{ comment.0.id }}{% if comment.0.ignore %} hidden{% endif %}">
    <div class="cmtAuthor pull-left">
      {% if active_page == 'ftu' %}
        @{{ comment.user.username }}
      {% else %}
        <a href="{% url 'twittur:profile' user=comment.0.user %}">@{{ comment.0.user.username }}</a>
      {% endif %} 
    </div>
    <small class="cmtTime">am {{ comment.0.date|date:"j. F Y, \u\m H:i \U\h\r" }}</small>
  </div>
  <div class="cmtText {{ comment.0.id }}{% if comment.0.ignore %} hidden{% endif %}" id="cmtText{{ comment.0.id }}">
    {% if comment.0.text %}
      <p>{{ comment.0.text|safe }}</p>
    {% endif %}
  </div>
  {% if comment.0.editable %}
  <div class="cmtTextEdit {{ comment.0.id }} hidden clearfix" id="cmtTextEdit{{ comment.0.id }}">
    <div class="form-group">
      <textarea class="form-control updatedText {{ comment.0.id }}" name="updatedText" rows="3">{{ comment.0.text|striptags }}</textarea>
    </div>
    <div class="form-group text-right">
      <button class="btn btn-xs btn-default hideCmtEdit" data-hint="{{ comment.0.id }}" type="button">Abbrechen</button>
      <button class="btn btn-xs btn-primary saveCmtEdit" id="saveCmtEdit{{ comment.0.id }}" type="button"
      				data-hint="upd_msg {{ comment.0.id }} {{ message.user.username }} {% url 'twittur:update' %}">Speichern</button>
    </div>
  </div>
  {% endif %}

{% if active_page != 'ftu' %}
  <div class="cmtFoot clearfix">
    
    <a class="reply_link pull-left {{ comment.0.id }}{% if comment.0.ignore %} hidden{% endif %}" data-hint="{{ comment.0.id }} {{ comment.0.user.username }}" data-toggle="modal" data-target="#newComment{{ comment.0.id }}" title="Neue Antwort verfassen">
      <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Antworten
    </a>
    <div class="postHide pull-left {{ comment.0.id }}{% if not comment.0.ignore %} hidden {% endif %}">
      Diese Nachricht von <a href="{% url 'twittur:profile' user=comment.0.user %}">{{ comment.0.user.username }}</a> wurde ausgeblendet.
    </div>
    <div class="cmtEdit pull-right {{ comment.0.id }}">
    {% if comment.0.user == request.user %}
      {% if comment.0.editable %}
        <a class="btn-xs showCmtEdit {{ comment.0.id }}" data-hint="{{ comment.0.id }}" title="Kommentar bearbeiten">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
      {% endif %}
      <a class="btn-xs" data-toggle="modal" data-target="#delCmt{{ comment.0.id }}Modal" id="delCmt{{ comment.0.id }}Button" title="Kommentar l&ouml;schen">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </a>
    {% else %}
      <span class="ignoreCmtButton glyphicon {% if comment.0.ignore %}glyphicon-eye-open{% else %}glyphicon-eye-close{% endif %} {{ comment.0.id }}" 
            title="{% if comment.0.ignore %}Kommentar einblenden{% else %}Kommentar ausblenden{% endif %}"
            data-hint="hide_cmt {{ comment.0.id }} {{ comment.0.user.username }} {% url 'twittur:update' %}"></span>  
    {% endif %}
    </div>
  </div>
{% endif %}
</div>

{% if comment.1 %}
  <div class="children"> 
  {% for comment in comment.1 %}
  	{% include "comments.html" with comment=comment %}
  {% endfor %}
  </div>
{% endif %}

  {% if comment.0.user == request.user %}
  <div class="modal fade delCmt{{ comment.0.id }}Modal" id="delCmt{{ comment.0.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="delCmt{{ comment.0.id }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Kommentar vom {{ comment.0.date|date:"j. F Y, \u\m H:i \U\h\r" }} wirklich l&ouml;schen?</h4>
        </div>
        <div class="modal-body"> <em>{{ comment.0.text|safe }}</em> </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
          <button type="submit" class="deleteMsgButton btn btn-primary"
                  data-hint="del_cmt {{ comment.0.id }} {{ comment.0.user.username }} {% url 'twittur:update' %}">Kommentar l&ouml;schen</button>
        </div>
      </div>
    </div>
  </div>
	{% endif %}
  
  <div class="modal fade newComment {{ comment.0.id }}" id="newComment{{ comment.0.id }}" tabindex="-1" role="dialog" aria-labelledby="newComment{{ comment.0.id }}Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url 'twittur:message' msg=comment.0.id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input name="cmtDialog" type="hidden" value="true" />
          <input id="id_cmtToId" name="cmtToId" type="hidden" value="{{ comment.0.id }}" />
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="newCommentTitle"></h4>
            <small>{% now "j. F Y, H:i" %} Uhr</small>
          </div>
          <div class="modal-body">{{ msgForm.text }}</div>
          <div class="modal-footer">          
            <input type="hidden" name="codename" value="comment" />
            <input type="hidden" name="message" value="{{ message.id }}" />
            {{ msgForm.user }}
            {{ msgForm.date }}
  
            <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
            <button type="submit" class="btn btn-primary" disabled="disabled">Nachricht senden</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>