{% extends 'base.html' %}

{% block list %}
  {% include 'layout/sidebar.html' %}
{% endblock %}

{% block nav %}
  {% include 'layout/nav.html' %}
{% endblock %}

{% block content %}
    {% if new > 0 %}
    <h2>Du hast {{ new }} neue Benachrichtigung</h2>
    {% else %}
    <h2>Du hast keine neue Benachrichtigung</h2>
    {% endif %}
    <br>
    <br>
    {% if notification_list %}
    {% for notification, boolean in notification_list %}
        {% if notification.get_model_name == 'NotificationF' %}
            {% if boolean == 'False' %}
            <p>NEW: {{ notification.me.userprofile.username }} folgt dir jetzt! ({{ notification.date }})</p>
            {% else %}
            <p>{{ notification.me.userprofile.username }} folgt dir jetzt! ({{ notification.date }})</p>
            {% endif %}
        {% else %}
            {% if boolean == 'False' %}
            <p>NEW: {{ notification.message.user.first_name }} {{ notification.message.user.last_name }} hat dich in seiner Nachricht: " {{ notification.message.text }} " erwähnt (am {{ notification.message.date }}).</p>
            {% else %}
            <p> {{ notification.message.user.first_name }} {{ notification.message.user.last_name }} hat dich in seiner Nachricht: " {{ notification.message.text }} " erwähnt (am {{ notification.message.date }}).</p>
            {% endif %}
        {% endif %}

    {% endfor %}
    {% endif %}

{% endblock %}