{% extends 'base.html' %}

{% block list %}
  {% include 'layout/sidebar.html' %}
{% endblock %}

{% block nav %}
  {% include 'layout/nav.html' %}
{% endblock %}

{% block content %}
    {% if new > 0 %}
    <h2>Du hast {{ new }} neue Benachrichtigung</h2>
    {% else %}
    <h2>Du keine neue Benachrichtugung</h2>
    {% endif %}
    <br>
    <br>
    {% if notification_list %}
    {% for notification, boolean in notification_list %}
        {% if boolean == 'False' %}
        <p>NEW: {{ notification.message.user.first_name }} {{ notification.message.user.last_name }} hat dich in seiner Nachricht: " {{ notification.message.text }} " erwähnt (am {{ notification.message.date }}).</p>
        {% else %}
        <p> {{ notification.message.user.first_name }} {{ notification.message.user.last_name }} hat dich in seiner Nachricht: " {{ notification.message.text }} " erwähnt (am {{ notification.message.date }}).</p>
        {% endif %}
    {% endfor %}
    {% endif %}

{% endblock %}