{% extends 'base.html' %}

{% block list %}
  {% include 'layout/sidebar.html' %}
{% endblock %}

{% block nav %}
  {% include 'layout/nav.html' %}
{% endblock %}

{% block content %}
{% if new > 0 %}
  <h2>Du hast {{ new }} neue Benachrichtigung:</h2>
{% else %}
  <h2>Du hast keine neuen Benachrichtigungen.</h2>
{% endif %}

{% if notification_list %}
	<div class="container-fluid">
  {% for notification, boolean in notification_list %}
    {% if notification.get_model_name == 'NotificationF' %}
      {% if boolean == 'False' %}
      	<a href="{% url 'twittur:profile' user=notification.me.userprofile.username %}">
        <div class="notification alert alert-success" role="alert">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <strong>Neuer Follower</strong>: <small>{{ notification.date }}</small><br />
          {{ notification.me.userprofile.username }} folgt dir jetzt!
        </div>
        </a>
      {% else %}
      	<a href="{% url 'twittur:profile' user=notification.me.userprofile.username %}">
        <div class="notification alert" role="alert">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <strong>Neuer Follower</strong>: <small>{{ notification.date }}</small><br />
          {{ notification.me.userprofile.username }} folgt dir jetzt!
        </div>
        </a>
      {% endif %}
    {% elif notification.get_model_name == 'NotificationM' %}
      {% if boolean == 'False' %}
      	<a href="{% url 'twittur:message' msg=notification.message.id %}">
        <div class="notification alert alert-success" role="alert">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <strong>Neue Nachricht</strong>: <small>{{ notification.message.date }}</small><br />
          {{ notification.message.user.first_name }} {{ notification.message.user.last_name }} hat Dich in seiner Nachricht erw&auml;hnt!
        </div>
        </a>
      {% else %}
      	<a href="{% url 'twittur:message' msg=notification.message.id %}">
        <div class="notification alert" role="alert">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <strong>Neue Nachricht</strong>: <small>{{ notification.message.date }}</small><br />
          {{ notification.message.user.first_name }} {{ notification.message.user.last_name }} hat Dich in seiner Nachricht erw&auml;hnt!
        </div>
        </a>
      {% endif %}
    {% else %}
      {% if boolean == 'False' %}
        <a href="{% url 'twittur:message' msg=notification.id %}">
          <div class="notification alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <strong>Neue Nachricht</strong>: <small>{{ notification.message.date }}</small><br />
            {{ notification.user.first_name }} {{ notification.message.user.last_name }} hat deine <a href="{% url 'twittur:message' msg=notification.id %}">Nachricht</a> kommentiert!
          </div>
        </a>
       {% else %}
      	<a href="{% url 'twittur:message' msg=notification.id %}">
          <div class="notification alert" role="alert">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <strong>Neue Nachricht</strong>: <small>{{ notification.message.date }}</small><br />
            {{ notification.user.first_name }} {{ notification.message.user.last_name }} hat deine Nachricht kommentiert!
          </div>
        </a>
       {% endif %}
    {% endif %}  
  {% endfor %}
  </div>
{% endif %}

{% endblock %}