{% extends 'base.html' %}

{% block list %}
  {% include 'layout/sidebar.html' %}
{% endblock %}

{% block nav %}
	{% include 'layout/nav.html' %}
{% endblock %}

{% block content %}
{% if not error_msg %}
  <div class="profil clearfix">
    {% if request.user == pUser %}
      <a href="{% url 'twittur:settings' %}" class="profilEdit" title="Profil bearbeiten">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    {% else %}
      <form action="{% url 'twittur:profile' user=pUser %}" method="POST" class="pull-right">
      {% csrf_token %}
          <input type="hidden" name="ignoreUser" value="{{ pUser }}">
          {% if not ignored and pUser in request.user.userprofile.follow.all %}<input type="hidden" name="entfollow" value="{{ pUser.id }}">{% endif %}
          <button class="ignoreMsgButton profilEdit" type="submit" title="{% if not ignored %}Benutzer ignorieren{% else %}Benutzer nicht mehr ignorieren{% endif %}">
          {% if not ignored %}
            <span class="glyphicon glyphicon-eye-close"></span>
          {% else %}
            <span class="glyphicon glyphicon-eye-open"></span>
          {% endif %}
          </button>
      </form>
    {% endif %}
    <div class="col-xs-12 col-sm-4 text-center">
    	{% if pUserProf.picture %}
          <img src="{{ pUserProf.picture.url }}" class="profilbild-l img-thumbnail"/>
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-8 clearfix">
      <div class="profilMeta">
        <h3 class="profilAuthor">
          {{ pUser.first_name }} {{ pUser.last_name }}
        </h3>
        <h5 class="profilNick" data-hint="{{ pUser.username }}">
          @{{ pUser.username }}
        </h5>          
        <div class="profilAcaDis" title="Studiengang">
            <span class="glyphicon glyphicon-education" aria-hidden="true"></span>             
            {{ pUserProf.academicDiscipline }} 
        </div>
        <div class="profilLocation" title="Wohnort">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 
          {{ pUserProf.location }}
        </div>
        <div class="profilJoined" title="registriert seit">
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
          {{ pUser.date_joined|date:"j. F Y, \u\m H:i \U\h\r" }}
        </div>
      </div>
    </div>
  </div>
  {% if request.user != pUser %}
  <form action="{% url 'twittur:profile' user=pUser %}" method="GET" >
    <input name="follow" type="hidden" value="follow" />
    {% if pUser in request.user.userprofile.ignoreU.all %}<input type="hidden" name="ignoreUser" value="{{ pUser }}">{% endif %}
    <button class="col-xs-6 text-center btn btn-default profileButton" id="id_follow" 
    				title="{% if pUser in request.user.userprofile.follow.all %}Aus Favoriten entfernen{% else %}Zu Favoriten hinzuf&uuml;gen{% endif %}" type="submit">
      <strong>{{ follow_text|safe }}</strong>
    </button>
  </form>
  <button class="col-xs-6 text-center btn btn-default profileButton postToUser" data-hint="{{ pUser }}" data-toggle="modal" data-target="#newMessage" id="postToUser" title="{{ pUser|upper }} schreiben" type="button">
    <strong><span class="glyphicon glyphicon-edit"></span> SCHREIBEN</strong>
  </button>
  {% endif %}
  
  <div class="clear_box"></div>
  
  {% if show_favs or show_groups %}
  <div class="profileMessages">
    <a href="{% url 'twittur:profile' user=request.user %}">&laquo; Nachrichten anzeigen</a><br />

    {% if show_groups %}
        <ul class="post memberList">
        <li class="clearfix"><b>Meine Uni Gruppen:</b></li>
            {% for group in show_group_list %}
                {% if not group.joinable %}
                     <li class="clearfix">{{ group.name }} (<a href="{% url 'twittur:group' groupshort=group.short %}">&{{ group.short }}</a>)</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% elif show_favs %}
      <ul class="post memberList">
      {% for fav in follow_list %}
        <li class="clearfix">{{ fav.first_name }} {{ fav.last_name }} (<a href="{% url 'twittur:profile' user=fav.username %}">@{{ fav.username }}</a>)
          <span class="pull-right">
            <form action="{% url 'twittur:profile' user=request.user %}" method="POST">
              {% csrf_token %}
              <input name="favorits" type="hidden" value="true" >
              <input type="hidden" name="entfollow" value="{{ fav.id }}">
              <button class="remFav" title="{{ fav.username }} aus Favoriten entfernen" type="submit">
              	<span class="glyphicon glyphicon-star-empty"></span>
              </button>
            </form>
          </span>
      {% endfor %}
      </ul>
    {% endif %}

    {% if show_groups and group_list %}
      <ul class="post memberList">
        <li class="clearfix"><b>Meine Gruppen:</b></li>
        {% for group in group_list %}
          {% if group.joinable %}
            <li class="clearfix">{{ group.name }} (<a href="{% url 'twittur:group' groupshort=group.short %}">&{{ group.short }}</a>)
              {% if group.admin != request.user %}
                <span class="pull-right">
                  <form action="{% url 'twittur:profile' user=request.user %}" method="POST">
                    {% csrf_token %}
                    <input name="group" type="hidden" value="true" >
                    <input type="hidden" name="leaveGroup" value="{{ group.id }}">
                    <button class="remFav" title="Gruppe verlassen" type="submit"><span class="glyphicon glyphicon-log-out"></span></button>
                  </form>
                </span>
              {% else %}
                <span class="pull-right">
                  <a href="{% url 'twittur:group_settings' groupshort=group.short %}">
                    <span class="glyphicon glyphicon-cog" title="Gruppe bearbeiten"></span>
                  </a>
                </span>
              {% endif %}
           {% endif %}
      	{% endfor %}
    	</ul>
    {% endif %}
  </div>
  {% endif %}
  
  {% if not ignored %}
    {% if has_msg %}
      <div class="profileMessages {% if show_member or show_favs or show_groups %} hidden{% endif %}"> 
        {% for message, dbmessage, form, comments, count in message_list %}        
          {% include "message_box.html" with message=message dbmessage=dbmessage form=form comments=comments comCount=count %}
        {% endfor %}
        </div>
        <div class="text-center{% if show_member or show_favs or show_groups or list_end == True or list_end == 'True' %} hidden{% endif %}">
          <button class="load_more btn btn-default" title="Mehr Beitr&auml;ge laden"
                  data-hint="{% url 'twittur:more' %}" data-length="{{ list_end }}" data-page="{{ active_page }}"
                  data-user="{{ pUser }}" data-group="{{ group.short }}">
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
        </div>
      </div>
    {% else %}
      <div class="text-center"><em>Keine Nachrichten zum Anzeigen gefunden!</em></div>
    {% endif %}
  {% else %}
    <div class="text-center"><em>Der Benutzer wurde von Ihnen ausgeblendet!</em></div>
  {% endif %}
{% endif %}
{% endblock %}