{% extends 'base.html' %}

{% block list %}
	{% if group_list %}
	<ul class="groups">
		<h3>Meine Gruppen</h3>
		{% for group in group_list %}
		<li class="{% if false %}active{% endif %}"> <!-- Falls aktiv: highlighting -->
			<a class="ullink" href="#">#{{ group.name }}</a> <!-- Hier muss ein Kurzname für die Gruppe rein!!! -->
			<a class="dashicons dashicons-edit" href="#"></a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	
	{% if follow_list %}
	<ul class="following">
		<h3>Folgend</h3>
		 {% for follow in follow_list %}
		<li><a class="ullink" href="{% url 'twittur:profile' user=follow.username %}">@{{ follow.username }}</a></li>
		{% endfor %}
	</ul>
      {% else %}
      <ul class="following">
      <h3>Forever alone</h3>
      </ul>
	{% endif %}
  
  {% include 'layout/nav_foot.html' %}
{% endblock %}

{% block nav %}
	{% include 'layout/nav.html' %}
{% endblock %}

{% block content %}      
  <div class="profil">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3 hidden-sm hidden-md hidden-lg">
        </div>
        <div class="col-xs-7 col-sm-4 col-md-4 col-lg-5">
          <img src="{{ curUserProfile.picture.url }}" class="profilbild-s img-thumbnail"/>
        </div>
        <div class="col-xs-3 hidden-sm hidden-md hidden-lg">
        </div>        
        <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
          <div class="profilAuthor">{{ curUser.first_name }} {{ curUser.last_name }}</div>
          <div class="profilNick">@{{ curUser.username }}</div>
          <div class="profilStadt"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>  studiert {{ curUserProfile.academicDiscipline }} </div>
          <div class="profilStadt"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ curUserProfile.location }}</div>
          <div class="profilStadt"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>  {{ curUser.date_joined }}</div>
          {% if request.user != curUser %}
          <form action="{% url 'twittur:profile' user=curUser %}" method="GET">
            <input class="btn btn-danger" id="follow" name="follow" type="submit" value="{{ follow_text }}" />
          </form>
          {% endif %}

          <!--
          <div class="profilLink"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Nachricht senden</div>
          <div class="profilLink"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nachfolgen</div>
          -->
        </div>
      </div>
    </div>
  </div>
			

  {% if message_list %}
    {% for message, dbmessage in message_list %}
      {% include "message_box.html" with message=message page=active_page user=user %}
    {% endfor %}
  {% else %}
  	<div class="text-center"><em>Keine Nachrichten zum Anzeigen gefunden!</em></div>
  {% endif %}
{% endblock %}