{% extends 'base.html' %}

{% block list %}
  {% include 'layout/sidebar.html' %}
{% endblock %}

{% block nav %}
	{% include 'layout/nav.html' %}
{% endblock %}

{% block content %}
{% if not error_msg %}

  <div class="container-fluid">
    <div class="profil clearfix">
      <div class="col-xs-12 col-sm-4 text-center">
      	{% if group %}
          <img src="{{ group.picture.url }}" class="profilbild-s img-thumbnail"/>
        {% else %}
          <img src="{{ curUserProfile.picture.url }}" class="profilbild-s img-thumbnail"/>
        {% endif %}
      </div>
      <div class="col-xs-12 col-sm-8 clearfix">
        <div class="profilMeta">
          <h3 class="profilAuthor">
          	{% if group %}{{ group.name }}{% else %}{{ curUser.first_name }} {{ curUser.last_name }}{% endif %}
          </h3>
          <h5 class="profilNick">
          	{% if group %}&{{ group.short }}{% else %}@{{ curUser.username }}{% endif %}
          </h5>          
          <div class="profilAcaDis" title="Studiengang">
          	{% if group %}
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              {{ group.admin.first_name }} {{ group.admin.last_name }} (@<a href="{% url 'twittur:profile' user=group.admin %}">{{ group.admin.username }}</a>)
            {% else %}
              <span class="glyphicon glyphicon-education" aria-hidden="true"></span>             
              {{ curUserProfile.academicDiscipline }} 
            {% endif %}
          </div>
          {% if not group %}
          <div class="profilLocation" title="Wohnort">
          	<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 
            {{ curUserProfile.location }}
          </div>
          {% endif %}
          <div class="profilJoined" title="{% if group %}registriert seit{% else %}erstellt am{% endif %}">
          	<span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
            {% if group %}{{ group.date }}{% else %}{{ curUser.date_joined|date:"j. F Y, \u\m H:i \U\h\r" }}{% endif %}
          </div>
          {% if group %}
          <div class="profilDesc" title="Beschreibung der Gruppe">
          	<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 
            {{ group.desc }}
          </div>
          {% endif %}
          <!--{% if request.user != curUser %}
          <div class="profilButton">
            <form action="{% url 'twittur:profile' user=curUser %}" method="GET">
              <button class="btn btn-primary" id="follow" name="follow" type="submit" value=""> {{ follow_text|safe }} </button>
            </form>
          </div>
          {% endif %}
          <div class="profilLink"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Nachricht senden</div>
          <div class="profilLink"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nachfolgen</div>
          --> 
        </div>
      </div>
    </div>
    {% if request.user != curUser and not group %}
    <form action="{% url 'twittur:profile' user=curUser %}" method="GET" >
    	<input name="follow" type="hidden" value="follow" />
      <button class="col-xs-6 text-center btn btn-default profileButton" id="id_follow" type="submit">
        <strong>{{ follow_text|safe }}</strong>
      </button>
    </form>
    <button class="col-xs-6 text-center btn btn-default profileButton postToUser" data-hint="{{ curUser }}" data-toggle="modal" data-target="#newMessage" id="postToUser" title="{{ curUser|upper }} schreiben" type="button">
      <strong><span class="glyphicon glyphicon-edit"></span> {{ curUser|upper }} schreiben</strong>
    </button>
    {% endif %}
    {% if group %}
    <form action="{% url 'twittur:djlgroup' groupshort=group.short %}" method="POST" >
        {% csrf_token %}
    	<input name="delete_join_group" type="hidden" value="delete_group" />
      <button class="col-xs-6 text-center btn btn-default profileButton" id="id_join_group" type="submit">
        <strong>{{ button_text|safe }}</strong>
      </button>
    </form>
    <button class="col-xs-6 text-center btn btn-default profileButton postToGroup" data-hint="{{ group.short }}" data-toggle="modal" data-target="#newMessage" id="postToGroup" title="an {{ group.short|upper }} schreiben" type="button">
      <strong><span class="glyphicon glyphicon-edit"></span> an {{ group.short|upper }} schreiben</strong>
    </button>
    {% endif %}
  </div>
  <br />
  <div class="container-fluid">
    {% if has_msg %}
      {% for message, dbmessage in message_list %}
        {% include "message_box.html" with message=message page=active_page user=user %}
      {% endfor %}
    {% else %}
      <div class="text-center"><em>Keine Nachrichten zum Anzeigen gefunden!</em></div>
    {% endif %}
  </div>
{% endif %}
{% endblock %}