{% extends 'base.html' %}

{% block list %}
  {% if group_list %}
    <ul class="groups">
      <h3>Meine Gruppen</h3>
      {% for group in group_list %}
      <li class="{% if false %}active{% endif %}"> <!-- Falls aktiv: highlighting --> 
        <a class="ullink" href="#">#{{ group.name }}</a> <!-- Hier muss ein Kurzname für die Gruppe rein!!! --> 
        <a class="dashicons dashicons-edit" href="#"></a> </li>
      {% endfor %}
    </ul>
  {% endif %}
  
  {% if user_list %}
    <ul class="following">
      <h3>Folgend</h3>
      {% for user in user_list %}
      <li><a class="ullink" href="#">@{{ user.nickname }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  
  {% include 'layout/nav_foot.html' %}
{% endblock %}

{% block nav %}
  {% include 'layout/nav.html' %}
{% endblock %}

{% block content %}
  <h2>Suchergebnisse für "{{ search }}"</h2>
  {% if user_list %}
  <h4> Folgende User wurden gefunden:</h4>
  <div class="container-fluid">
    {% for user in user_list %}
    <p class="search_user_result pull-left text-center">
    	<img src="{{ user.userprofile.picture.url }}" class="profilbild-s img-thumbnail"/><br />
      {{ user.first_name }} {{ user.last_name }}<br />
      (<a href="/twittur/profile/{{ user.username }}" >@{{ user.username }}</a>)
    </p>
    {% endfor %}
  </div>
  {% endif  %}
  {% if message_list  %}
  <h4> Folgende Nachrichten wurden gefunden:</h4>
  <div class="container-fluid">
    {% for message, dbmessage in message_list %}
      {% include "message_box.html" with message=message page=active_page user=user  %}
    {% endfor %}
  </div>
  {% elif hashtag_list %}
  <h4> Folgende Hashtags wurden gefunden:</h4>
  <div class="container-fluid">
    {% for message in hashtag_list %}
      {% include "message_box.html" with message=hashtag page=active_page user=user  %}
    {% endfor %}
  </div>
  {% else %}
  <div class="text-center"><em>Keine Nachrichten zum Anzeigen gefunden!</em></div>
  {% endif %}
{% endblock %}