{% extends 'base.html' %}
{% load staticfiles %}

{% block list %}	
    <ul>
    	<h4>Einstellungen</h4>
        <li><a href="#profilbild" class="menuCloser">Profilbild ausw&auml;hlen</a></li>
        <li><a href="#account" class="menuCloser">Accountverwaltung</a></li>
        <li><a href="#daten" class="menuCloser">Pers&ouml;nliche Daten</a></li>
        <li><a href="#seite" class="menuCloser">Seiteneinstellungen</a></li>
        <li><a href="#delete" class="menuCloser">Account l&ouml;schen</a></li>
    </ul>
{% endblock %}

{% block nav %}
	{% include 'layout/nav.html' %}
{% endblock %}

{% block content %}
   
    {% if success_msg %}
	<div class="alert alert-success" role="alert">
    	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        {{ success_msg }}
    </div>
    {% endif %}
	
    {% if error_msg %}
	<div class="alert alert-danger" role="alert">
    	<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        {{ error_msg }}
    </div>
    {% endif %}

    <form action="{% url 'twittur:settings' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    	
        {{ userForm.non_field_errors }}
        {{ userDataForm.non_field_errors }}
              
        <div class="post" id="profilbild">
        	
            <h4>Profilbild auswählen</h4>
            
            <div class="col-xs-12 form-group">
            	<div class="col-xs-12 text-center" style="vertical-align: bottom !important;">
                	<img src="/picture/{{ user.userprofile.picture.url }}" class="img-thumbnail" style="width: 100px;">
                	<img src="/picture/{{ user.userprofile.picture.url }}" class="img-thumbnail" style="width: 75px; margin-top: 26px;">
                	<img src="/picture/{{ user.userprofile.picture.url }}" class="img-thumbnail" style="width: 50px; margin-top: 50px;">
                    <p class="help-block">{{ userDataForm.picture.help_text }}</p>
                </div>
                <label class="form-label" for="avatarInput">Profilbild aktualisieren</label><br />
                {{ userDataForm.picture }}
                {{ userDataForm.picture.errors }}
                
            </div>
            
        </div>
        
        <div class="post" id="account">
        
        	<h4>Accountverwaltung</h4>
        
            <div class="col-xs-12 form-group">
                <label class="control-label" for="usernameInput">Username</label>
                {{ userForm.username }}
                <p class="help-block">Der Username kann nicht ver&auml;ndert werden.</p>
                {{ userForm.username.errors }}
            </div>
            
            <div class="col-xs-12 form-group">
                <label class="control-label" for="emailInput">E-Mail</label>
                {{ userForm.email }}
                {{ userForm.email.errors }}
                <!--<input class="form-control" id="emailInput" name="email" type="email" value="{{ user.email }}" />-->
            </div>
            
            <div class="col-xs-12 col-sm-6 form-group">
                <label class="control-label" for="pw1Input">Passwort</label>
                {{ userForm.password }}
                {{ userForm.password.errors }}
                <!--<input class="form-control" id="pw1Input" name="password" type="password" value="{{ user.password }}" />-->
            </div>    
            <div class="col-xs-12 col-sm-6 form-group pull-right">
                <label class="control-label" for="pw2Input">Passwort bestätigen</label>
                
                {{ userForm.password.errors }}
                <!--<input class="form-control" id="pw2Input" type="password" value="{{ user.password }}" />-->
            </div>
    
        </div>  
        
        <div class="post" id="daten">
        
        	<h4>Pers&ouml;nliche Daten</h4>
            
            <div class="col-xs-12 col-sm-6 form-group">
                <label class="control-label" for="vornameInput">Vorname</label>
                {{ userForm.first_name }}
                {{ userForm.first_name.errors }}
                <!--<input class="form-control" id="vornameInput" name="vorname" type="text" value="{{ user.first_name }}" />-->
            </div>    
            <div class="col-xs-12 col-sm-6 form-group pull-right">
                <label class="control-label" for="nachnameInput">Nachname</label>
                {{ userForm.last_name }}
                {{ userForm.last_name.errors }}
                <!--<input class="form-control" id="nachnameInput" name="nachname" type="text" value="{{ user.last_name }}" />-->
            </div>
        
            <div class="col-xs-12 form-group">
                <label class="control-label" for="studiengangInput">Studiengang</label>
                {{ userDataForm.academicDiscipline }}
                <!--<input class="form-control" id="studiengangInput" name="studiengang" type="text" value="{{ user.academicDiscipline }}" />-->
                <p class="help-block">Über deinen Studiengang wirst Du bestimmten Gruppen zugeordnet.</p>
                {{ userDataForm.academicDiscipline.errors }}
            </div>
        
            <div class="col-xs-12 form-group">
                <label class="control-label" for="matrikelNummerInput">Matrikel-Nummer</label>
                {{ userDataForm.studentNumber }}
                <!--<input class="form-control" id="matrikelNummerInput" name="matrikelnummer" type="number" value="{{ user.studentNumber }}" />-->
                <p class="help-block">Über deine Matrikel-Nummer kannst Du eindeutig als Student der TU Berlin identifiziert werden.</p>
                {{ userDataForm.studentNumber.errors }}
            </div>
        
            <div class="col-xs-12 form-group">
                <label class="control-label" for="wohnortInput">Wohnort</label>
                {{ userDataForm.location }}
                {{ userDataForm.location.errors }}
                <!--<input class="form-control" id="wohnortInput" name="wohnort" type="text" value="{{ user.location }}" />-->
            </div>
    
        </div>  
              
        <div class="post" id="seite">
        	
            <h4>Seiteneinstellungen</h4>
            
            <div class="col-xs-12 form-group">
                <label class="control-label" for="stdSafetylevelSelect">Standard-Sicherheitsstufe</label>
                <select class="form-control" id="stdSafetylevelSelect" name="safety">
                    <option>public</option>
                    <option>Uni</option>
                    <option>Fakultät</option>
                    <option selected>Studiengang</option>
                </select>
            </div>
            
        </div>
              
        <div class="post" id="delete">
        	
            <h4>Account vollst&auml;ndig l&ouml;schen</h4>
            
            <div class="col-xs-12 form-group text-center">
                <p class="help-block">&Uuml;ber diesen Button kannst Du deinen Account vollst&auml;ndig von unserer Plattform entfernen. Zur Best&auml;tigung der L&ouml;schung erh&auml;lst Du eine E-Mail an deine uns bekannte E-Mail Adresse.</p>
                <button type="button" class="btn btn-primary text-center" id="deleteButton">Account löschen</button>
            </div>
            
        </div>
            
        <div class="col-xs-12 form-group text-center">
            <button type="submit" class="btn btn-primary" id="submitSettButton">Speichern</button>
            <button type="reset" class="btn btn-default" id="resetSettButton">Zur&uuml;cksetzen</button>
        </div>
    
    </form>

{% endblock %}