.teamContainer { margin-bottom: 20px; }
.teamContainer .post { margin-bottom: 0; }
.teamContainer img { max-width: 80px; }
.teamContainer dd { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.faqContainer .post:hover { cursor: pointer; }
.faqContainer .post.active { background-color: rgba(92,184,92,.1); }
.faqContainer h4 { position: relative; width: 100%; }
.faqContainer h4 span { position: absolute; right: 0; }