
// Bootstrap
@import '../bootstrap/css/bootstrap-theme.min';
@import '../bootstrap/css/bootstrap.min';
//@import 'dashicons/css/dashicons';

// twittur
@import 'sass';
@import 'colors';
@import 'ftu';


// Font
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600);

/* Basics */

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  font-size: 1.4em; 
}
 
* {
	margin:0;
	padding:0;
	list-style-type:none;
}

a {
	color:#a00000;
	text-decoration:none;
	&:hover {
		text-decoration:none;
		color:#a00000;
	}
}

h2 {
    margin-bottom:20px;
}

textarea, input { outline: none; }

.clear {
    height:0px;
    @include clearAttr;
}

/* Bootstrap */
.btn-primary, .btn-primary[disabled] {
	background:RGBA(245, 13, 13, 1);
	background-repeat: repeat-x;
	border-color: RGBA(245, 13, 13, 1);
}

.btn-gray {
	
}

.btn-primary[disabled] {
	opacity:0.4;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #a00000;
	background-position: 0 -15px;
	border-color: rgba(153,0,0,1);
}

.form-control:focus, button:focus {
  border-color: rgba(217,14,31,1);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(245,0,0, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(245,0,0, .6);
}


.scrollTop {
	height:25px;
	width:45px;
	position:fixed;
    z-index:3;
	bottom:70px;
	right:20px;
	display:block;
	display:none;
	padding:0;
	border-color:#111;
	@include gradient(#30303F,#282A37);
	.glyphicon {
		font-size:1em;
		line-height:0.5em;
		padding:0;
		margin-top:-10px;
	}
	
	&:hover, &:focus {
		background:#30303F;
		border-color:#111;
	}
	
}

.newMsg {
    height: 45px;
    width: 45px;
	margin-top: 22.5px;
	margin-left: 3%;


    
	
	position:fixed;
	bottom:20px;
	right:20px;
    z-index:2;
	
	textarea { 
		width: 100%; 
	}
	
	.msgDiaDate { 
		padding: 6px 12px; 
	}	
}

.modal { 
    h4 {
        display:inline-block;
    }
    
    .msgDiaDate {
        margin:5px 20px;
    }
    
    .close {
        margin-top:5px;
    }
    
    .visibility {
        margin-top:-5px;
    }

}

.visibility {

   width:60%;
   float:left;
   display:block;
   @include phone {
       width:100%;
       float:none;
   }
   
   text-align:left;
   margin-top:5px;
   
   & > p {
       display:inline-block;
       margin:0;
       width:25%;
   }
   
   .superDropdown {
            max-width:70%;
            min-width:70% !important;
            @include phone {
               min-width:72% !important;
            }
    
      
       & > p {
           min-width:0;
        
       }
    
   }
}
 

/* Layout */
$asideWidth:30%;
$navWidthDesktop:90px;
$navWidthMobile:60px;



#aside {
	
	@include desktop {
		width:$asideWidth;
		height:100%;
		position:fixed;
	}
    
    z-index:3;
	
	@include tablet {
		display:none;
		position:fixed;
		top:0;
		left:0;
		height:100%;
		width:100%;
		z-index:20;
		background:$listBg;
		left:-100%;
	}
}

nav {
	@include desktop {
		position:fixed;
		z-index:2;
		height:100%;
		width:$navWidthDesktop;
		float:left;
	}
	
	@include clear;
	a {
		box-sizing:border-box;
		display:block;
		
		font-weight:500;
		padding-bottom:20px;
		text-align:center;
		background:transparent;
		background-position:top center;
		background-repeat:no-repeat;
		
		@include desktop {
			font-size:0.8em;
			width:$navWidthDesktop;
			height:$navWidthDesktop;
			padding-top:$navWidthDesktop - 30;
			background-size:$navWidthDesktop - 20 $navWidthDesktop - 20;
		}
		
		@include tablet {
			font-size:0.7em;
			float:left;
			width:$navWidthMobile;
			height:$navWidthMobile;
			padding-top:$navWidthMobile - 20;
			background-size:$navWidthMobile - 10 $navWidthMobile - 10;
		}
		
		&:hover {
			text-decoration:none;
		}
	}
	
	a.index {
		background-image:url('img/icon_home.png');
	
	}
	
	a.settings {
		background-image:url('img/Settings-02-128.png');
        @include tablet {
            left:0;
            padding-bottom:0;
            padding-top:40px;
        }
	}
	
	a.profile {
		background-image:url('img/User-Profile-128.png');
	}
	
	a.messages {
		background-image:url('img/Message-128.png');
	}
	
	a.info {
		background-image:url('img/Message-Information-128.png');
	}
	
	a.logout {
		padding-top:20px;
		position:absolute;
		bottom:0;
		
		
		span { 
			font-size: 36px;
			&:before {
				color: #ffffff;
			}
		}
		@include tablet {
		    right:0;
            padding-top:10px;
			line-height: 11px;
			span.glyphicon {
                margin-top:10px;
                line-height:19px;
				font-size:28px;
			}
		}
		
	}
    
    
    a.logout, a.settings {
		@include tablet {
            position:absolute;
            bottom:0;
			display:block;
			min-height:50px;
			width:50%;
			z-index:400;
			text-align:center;
			
			background-color:#30303F;
			
		}
    }
    
    .glyphicon {
        display:block;
        top: -5px; 
        font-size: 36px; 
    }
	
	a.menuCloser {
		float:right;
		background-image:url('img/Login-Arrow-128.png');
		display:none;
		@include tablet {
			display:inherit;
		}
		&:hover {
			cursor:pointer
		}
	}
	
}

#list {
	box-sizing:border-box;
	@include clear;
	max-height:100%;

	width:100%;
	height:100%;

    .scrollable {
        height:100%;
    }
    
    
	@include desktop {
		
		
		padding-left:$navWidthDesktop;
		padding-top:0px;
	
	}
	
	@include tablet {
		position:fixed;
		z-index:3;
		padding-bottom:$navWidthMobile;
		max-height:80%;
		
	}
	
	ul {
		display:block;
		margin-bottom:15px;
		padding:15px;
		h3 {
			font-weight:inherit;
			margin-bottom:10px;
		}
		li {
			display:block;
			
			a {
				padding:4px 10px;
				border-radius:5px;
				display:inline-block;
				&:hover {
					text-decoration:none;
				}
			}
			
			a.ullink {
				width:100%;
			}
			
			a.dashicons {
				float:right;
				
			}
		}
		border-bottom:1px solid transparent;
	}
}

a.title {
	text-indent:-9999px;
	
	display:block;
	float:left;
    width: 200px;
    height: 90px;
	height:$navWidthDesktop;
	background:url('img/logo.png') no-repeat;
	background-position:0 10px;
	background-size:144px 70px;
	@include desktop {
		margin-left:6%;
		
	}
	
	
}


header {
	
	top:0;
	opacity:0.95;
	display:block;
	width:100%;
	
	min-height:$navWidthDesktop;
	
    
    @include phone {
        a.title {
            float:left;
            display:inline-block;
            width:70%;
            position:absolute;
            left:15%;
            background:url('img/twittur_mobile.png') no-repeat;
            background-position: center center;
            background-size:40px 48px;
            height:$navWidthMobile;
            box-sizing:border-box;
	   }
    }
	
	@include tablet {
		position:fixed;
		top:0;
		z-index:10;
        
	}
    
    @include phone {
        min-height:$navWidthMobile;
    }
	
	
	a.menuOpener, a.searchOpener {
		text-indent:-9999px;
		display:block;
		box-sizing:border-box;
		
		width:$navWidthDesktop / 2;
        
       
        
        @include tablet {
    		margin-top:$navWidthDesktop / 4;
            height:$navWidthDesktop / 4;
        }
        
        @include phone {
		margin-top:$navWidthMobile / 6;
        height:$navWidthMobile - 20;
        width:9%;
        }
        
        
		margin-left:3%;
        margin-right:3%;
		
		float:left;
		display:none;
		@include tablet {
			display:inherit;
		}
		
		&:hover {
			cursor:pointer;
			opacity:0.8;
		}
		.patty {
			margin:7px 20%;
            max-width:$navWidthMobile / 2;
			border-bottom:5px solid transparent;
		}
	}
    
    a.searchOpener {
        display:none;
        text-indent:inherit;
        color:#6D6D6E;
        float:right;
        text-align:right;
        padding-right:2%;
        
        .glyphicon {
            padding-top:20%;
            text-align:right;
            font-size:1.5em;
        }
        
        @include phone {
            display:inherit;
        }
    }
	
	#search {
		margin-right: 3%;
	    margin-top: 25px;
		z-index:50;
		
		input {
			padding:10px;
			border:1px solid #eee;
	
			color:#333;
			padding: 10px;
			border: 1px solid #eee;
			color: #333;
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
		
		button {
			margin-left: 0;
			margin-top: 0;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;	
		}
			
		@include phone {
			display:none;
		}
	}
	
	#head {
		@include clear;
	}

	#infoBar {
		background:transparent;
		@include desktop {
			width:80%;
		}
	
		@include tablet {
			width:94%;
		}
		margin:0 auto;
	}
	
	


}

#main {
	@include desktop {
		width:100-$asideWidth;
		top:0;
		min-height:100%;
		overflow:auto;
		margin-left:$asideWidth;
	}
    
    @include phone {
        padding-top:$navWidthMobile;
        
    }
}

#content, .width {
	
	@include desktop {
		width:80%;
	}
	
	margin:30px auto;

	@include tablet {
		width:94%;
		margin-top:$navWidthDesktop + 30;
	}
    
    @include phone {
        margin-top:30px !important;
    }
	
}

$iconWidth:50px;
.post {
	
	padding:20px;
	
	margin-bottom:20px;
	
	.icon { // Platzhalter
		width:$iconWidth;
		height:$iconWidth;
		display:block;
		
		float:left;
	}
	
	.postContent {
		margin-left:$iconWidth + 20;
		width:auto;
	}
	
	.postMeta div {
		display:inline-block;
	}
	
	.postAuthor {
		font-weight:bold;
	}
	
	.postText {
			margin-top:5px;
	}
	
	@include clear;
}

/* Settings */

.profilePictures {
	img {
		
		display:inline;
		vertical-align:bottom;
	}
}

// ???

.copy { 
	font-size: .6em; 
    margin-top: 15px;
	a { 
		font-size: 1.2em; 
		&:hover { 
			color: #F50000; 
		}
	}
}


.infoMessage .glyphicon-remove:hover { 
	cursor: pointer; 
}

.postFoot { 
	margin-top: 10px; 
	a { 
		margin-right: 15px; 
	}	
}

// Super Dropdown
.superDropdown {
	
	.default {
		display:none;
	}
	
	
	@include unselectable;
	p {
		margin:0;
		padding:0;
	}
	
	.superDropdownDiv {
		overflow-x:hidden;
		cursor:default;

			position:absolute;
			overflow-y:visible;
			height:auto;
			z-index:4000;
		
			background:transparent;
			opacity:1.0;
		
	}
	
	.superDropdownContent {
		position:relative;
		left:0;
	}
	
	ul {
		width:100%;
		display:block;
	}
	
	.superDropdownList {
		
		ul li {
			padding-left:20px;
			
		}
	}
	
	.superDropdownSub {
		position:absolute;
		left:100%;
		top:0;
	}	
}

#register .superDropdownDiv {
    @include tablet {
        position:static !important;
    }
}

/* Notifications */
.notificationLink { 
	position: relative; 
	padding-top: 25px;
    
    
    .badge {
    	position: absolute;
    	right: 15px;
    	top: 15px;
    	z-index: 99;
    	background-color: RGBA(0, 200, 141, 1);
    }
    
    @include tablet {
        padding-top: 12px;
		.glyphicon { 
            top: 1px; 
            font-size: 28px;
         }
         
		.badge {
			right: 5px;
			top: 5px;
		}
    }
}

/* Various */
.cit-logo {
    width: 75px;
}
.post .cit-logo {
    width: 150px;
    margin: 10px;
}


/* SearchBar */

.searchBar {
    padding: 5px 15px;
    background-color: rgba(238,238,238,1);
    border-bottom: 1px solid rgba(228,232,234,1);
    display:none; 
    
    .form-group {
       margin-bottom: 0px;
       padding: 0px;
   }
   input {
       border-right-width: 0px;
       border-radius: 4px 0px 0px 4px;
   }
   button {
       border-radius: 0px 4px 4px 0px;
   }
}



/* Comments */

.comments {
    margin-top: 20px;
    border-top: 1px solid #eee;
    background:#FDFDFD;
    margin-left:-20px;
    margin-right:-20px;
    padding:20px;
    padding-bottom:30px;
    margin-bottom:-20px;
    font-size: .9em;
}

.children {
    margin-left: 30px;
    font-size: 1em;
    .children {
        margin-left:20px;
         .children {
             margin-left:20px;
              .children {
                  margin-left:10px;
                  .children {
                      margin-left:0px;
                  
                  }
              }
          }
    }
}

.cmtBox {
    background: #FFF;
    margin-bottom: 10px;
    border:1px solid #E8E8E8;

    /*position:relative;
    .reply_link {
        position:absolute;
        top:0;
        right:0;
        display:block;
        padding:10px;
    }*/
}

.cmtContent {
    margin-bottom:20px;
}

.cmtMeta,  .cmtFoot {
    padding: 5px 10px;
    
}

.cmtMeta {
    background:#F8F8F8;
    border-bottom:1px solid #E7E7E7;

     padding:10px;
}

.cmtTime {
    color:#888;
}

.cmtText {
    padding:10px;
    p {
        margin: 0;
    }
}
    


.cmtAuthor {
    margin-right:5px;
}

/* Notifications */
.notification {
    color:#555;
    
    
    &.panel {
        padding: 15px;
    }
    
    .info {
        margin-left: 27px;
    }
    
    &:hover {
        background-color: rgba(0,0,0,.03);
    }
    
    .glyphicon {
        padding-right:10px;
    }
}

/* Profil */
/* Small devices (tablets, 768px and up) */

.profil {
	position: relative;
  padding: 20px;
  border: 1px solid #E4E8EA;
  border-bottom:0;
  border-radius: 5px 5px 0px 0px;
  background: #fff; }
  .profil:hover {
    border-color: #d3d3d3;
	}
	.profilEdit {
		position: absolute;
		right: 20px;
		z-index: 2;
	}
	.profilMeta div {
		margin-top: 10px; 
		text-align: left;
	}
  .profil .profilNick { color: #aaa; }

.profileButton {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
    border-color:#E4E8EA;;
    &:hover {
        border-color:#E4E8EA;;
    }
    &:nth-child(odd) {
        border-right:none;
    }
    
    &:nth-child(even) {
        border-left:none;
    }
}

@media (max-width: 767px) {
    .profilAuthor, .profilNick {
        text-align: center;
    }
}


.superDropdown {
    display:inline-block;
    
	@include tablet {
		margin-bottom:5px;
	}
	
	
	p {
		color:#555;
        
	}
	
	& > p {
		cursor:pointer;
		padding:10px;
        min-width:300px;
		border:1px solid #E3E8EA;
		margin-bottom:5px;
		background:#fff;
		color:#333;
		@include placeholder(#555);

    
		&.opened {
			color:#333 !important;
			background:rgba(255,255,255,0.99);
			
		}
		
		&.active {
			color:#333;
		}
	}
	.superDropdownDiv {
		box-sizing:border-box;
		background:rgba(255,255,255,0.95);
		border:1px solid #E3E8EA;
		border-top:none;
		color:#333;
		margin-left:0px;
		margin-top:-6px;
		
		
		
		ul  li, span {
			padding:10px 30px;
			&:hover {
				background:#eee;
				cursor:pointer;
			}
		}
        
		.superSubOpener {
			padding:10px;
			&:hover {
				background:#ddd;
				cursor:pointer;
			}
		}
		
		span {
			font-weight:bold;
			display:block;
		}
	}
	
}

.msgEditSave {
    padding-top:15px;
}
    

@import 'notifications';
@import '404';
@import '../js/jScrollPane/jquery.jscrollpane';
@import 'main_changes';