a:hover { text-decoration: none; }

.profil {
  border: 1px solid #E4E8EA;
  background: #fff; }
  .profil:hover {
    border-color: #d3d3d3 #d3d3d3;
	}
  .profil .profilNick {
    color: #aaa;
    margin-top: 10px;}
    .profil .profilStadt {
    margin-top: 10px;}
    .profil .profilNick:hover{ 
    text-decoration: underline;
    cursor: pointer;}
    
    .profil .profilLink {
    margin-top: 10px;}
    .profil .profilLink:hover{ 
    text-decoration: underline;
    cursor: pointer;
    color: red;}
    
.profil {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px; }
  .profil .icon {
    background: #eee;
    width: 183px;
    height: 200px;
    display: block;
    border-radius: 5px;
    float: left; }
    .profil .icon:hover{cursor: pointer;}
  .profil .profilContent {
    margin-left: 70px;
    width: auto; }
  .profil .profilMeta div {}
  .profil .profilAuthor {
	display: inline-block;
	margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
    font-weight: inherit; }
    .profil .profilAuthor:hover{ 
    text-decoration: underline;
    cursor: pointer;}
  .profil .profilText {
    margin-top: 5px; }
  .profil:after {
    content: "";
    display: table;
    clear: both; }
    
.post .postTime:hover{ 
    text-decoration: underline;
    cursor: pointer;
    color: red;}

.post:hover {
    border-color: #d3d3d3 #d3d3d3;}
    
.post .icon:hover{
	cursor: pointer;}
	
	.post .postAuthor:hover{ 
    text-decoration: underline;
    cursor: pointer;}
	
	
	
	
	
	
/* kps Kram */

.btn-primary {
	background-color: #F50000;
	background-image: -webkit-linear-gradient(top, #F50000 0%, #990000 100%);
	background-image:      -o-linear-gradient(top, #F50000 0%, #990000 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F50000), to(#990000));
	background-image:         linear-gradient(to bottom, #F50000 0%, #990000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffF50000', endColorstr='#ff990000', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: rgba(153,0,0,1);
}
.btn-primary:hover, .btn-primary:focus {
	background-color: #990000;
	background-position: 0 -15px;
	border-color: rgba(153,0,0,1);
}

.form-control:focus, button:focus {
  border-color: rgba(217,14,31,1);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(245,0,0, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(245,0,0, .6);
}

.logout { padding-top: 18px; }
.logout span { font-size: 36px; }
.logout span:before { color: #ffffff; }

header #search input {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
header #search button {
	margin-top: 25px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;	
}

@media screen and (max-width: 1023px) {
	.logout { 
		padding-top: 12px;
		line-height: 11px;
	}
	.logout span { font-size: 28px; }	
	
	header #search {
		display: none;
	}
}

/*.logout {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logout:before {
  content: "\e017";
}*/