.profil {
  border: 1px solid #E4E8EA;
  background: #fff; }
  .profil:hover {
    border-color: #d3d3d3;
	}
  .profil .profilNick {
    color: #aaa;
    margin-top: 10px;}
    .profil .profilStadt {
    margin-top: 10px;}
    .profil .profilNick:hover{
    cursor: pointer;}
    
    .profil .profilLink {
    margin-top: 10px;}
    .profil .profilLink:hover{
    cursor: pointer;
    color: red;}
    
.profil {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px; }
  .profil .icon {
    background: #eee;
    width: 183px;
    height: 200px;
    display: block;
    border-radius: 5px;
    float: left; }
    .profil .icon:hover{cursor: pointer;}
  .profil .profilContent {
    margin-left: 70px;
    width: auto; }
  .profil .profilMeta div {}
  .profil .profilAuthor {
	display: inline-block;
	margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
    font-weight: inherit; }
    .profil .profilAuthor:hover{
    cursor: pointer;}
  .profil .profilText {
    margin-top: 5px; }
  .profil:after {
    content: "";
    display: table;
    clear: both; }
    
.post .postTime:hover{ 
    text-decoration: underline;
    cursor: pointer;
    color: red;}

.post:hover {
    border-color: #d3d3d3;}
    
.post .icon:hover{
	cursor: pointer;}