/* Small devices (tablets, 768px and up) */

.profil {
  padding: 20px;
  border: 1px solid #E4E8EA;
  border-radius: 5px 5px 0px 0px;
  background: #fff; }
  .profil:hover {
    border-color: #d3d3d3;
	}
	.profilMeta div {
		margin-top: 10px; 
		text-align: left;
	}
  .profil .profilNick { color: #aaa; }

.profileButton {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

@media (max-width: 767px) {
    .profilAuthor, .profilNick {
        text-align: center;
    }
}