.alert .errorlist { display: inline-block }

.profilbild-l { width: 100px; }
.profilbild-m { width: 75px; }
.profilbild-s { width: 50px; }

#profBildUpdate { font-size: 0em; }
#profBildUpdate > a, #profBildUpdate > input, #profBildUpdate > label, #profBildUpdate > span  { font-size: 14px; }
#profBildUpdate > a:after { clear: both; display: block; width: 100%; content: ''; }