{% load staticfiles %}

<p class="copy col-xs-12 text-uppercase text-center">
  <a href="https://www.cit.tu-berlin.de/" target="_blank">
    <img alt="Complex and Distributed IT Systems" class="cit-logo img-thumbnail" src="{% static 'img/cit_logo.jpg' %}">
  </a><br>
  <br>
  2015 Technische Universit&auml;t Berlin<br>
  &times; CIT Programmierpraktikum &times;<br>
  L. Butenkova, W. Cai, M. Chen,<br />
  K. Schmidt, T. Tietz, S. Zerbe<br />
  <br />
  <a href="{% url 'twittur:info' %}#impressum" class="menuCloser">Impressum</a>
</p>