<ul>
  <li><h3 class="text-uppercase"> Über uns </h3></li>
  <li><a href="{% url 'twittur:info' %}#impressum" class="menuCloser ullink impressum">Impressum</a></li>
  <li><a href="{% url 'twittur:info' %}#team" class="menuCloser ullink team">Das Team</a></li>
  <li><a href="{% url 'twittur:info' %}#projekt" class="menuCloser ullink projekt">Unser Projekt</a></li>
  <li><h2> FAQ </h2>
  {% if user.is_superuser %}<li><a href="{% url 'twittur:faq' %}#faq_hinzufuegen" class="menuCloser ullink faq_hinzufuegen">FAQ hinzuf&uuml;gen</a></li>{% endif %}
  <li><a href="{% url 'twittur:faq' %}#allgemein" class="menuCloser ullink allgemein">Allgemeine Fragen</a></li>
  <li><a href="{% url 'twittur:faq' %}#startseite" class="menuCloser ullink startseite">Startseite</a></li>
  <li><a href="{% url 'twittur:faq' %}#profilseite" class="menuCloser ullink profilseite">Profilseite</a></li>
  <li><a href="{% url 'twittur:faq' %}#infoseite" class="menuCloser ullink infoseite">Infoseite</a></li>
  <li><a href="{% url 'twittur:faq' %}#einstellungen" class="menuCloser ullink einstellungen">Einstellungen</a></li>
  <li><h3 class="text-uppercase"> Supportanfrage</h3></li>
  <li><a href="{% url 'twittur:support' %}#nachricht" class="menuCloser ullink nachricht">Nachricht schreiben</a></li>
  <li><a href="{% url 'twittur:support' %}#kontaktformular" class="menuCloser ullink kontaktformular">Kontaktformular</a></li>
</ul>  