{% load staticfiles %}

{% if active_page in 'index, profile, group, notification, message, hashtag' %}

  {% if hot_list %}
    <ul class="hashs">
      <h3>Beliebte Themen</h3>
      {% for hashtag in hot_list %}
      <li class="{% if false %}active{% endif %}"> <!-- Falls aktiv: highlighting --> 
        <a class="ullink {{ hashtag.name }}" href="/twittur/hashtag/{{ hashtag.name }}">#{{ hashtag.name }}</a> <!-- Hier muss ein Kurzname für die Gruppe rein!!! -->
      {% endfor %} 
    </ul>
  {% endif %}  
  
  {% if follow_sb_list %}
  	<ul class="following">
      <h3>Favoriten</h3>
       {% for follow in follow_sb_list %}
        <li><a class="ullink {{ follow.username }}" href="{% url 'twittur:profile' user=follow.username %}">@{{ follow.username }}</a></li>
      {% endfor %}
      <form action="{% url 'twittur:profile' user=user %}" method="get">
        <input name="favorits" type="hidden" value="true" />
        <input class="showFavList{% if show_favs %} active{% endif %} text-left" type="submit" value="Alle anzeigen" />
      </form>
 		</ul>
  {% endif %}
  
  <ul class="groups">
    {% if group_sb_list %}
      <h3>Meine Gruppen</h3>
      {% for group in group_sb_list %}
        <li class="{% if false %}active{% endif %}">
        <a class="ullink {{ group.short }}" href="{% url 'twittur:group' groupshort=group.short %}">&{{ group.short }}</a>
      {% endfor %}
    {% endif %}
    <li><a href="{% url 'twittur:addgroup'  %}"> Gruppe hinzufügen</a>
  </ul>

{% elif active_page == 'info' %}  

  <ul>
    <li><h3 class="text-uppercase"> Über uns </h3></li>
    <li><a href="{% url 'twittur:info' %}#impressum" class="menuCloser ullink impressum">Impressum</a></li>
    <li><a href="{% url 'twittur:info' %}#team" class="menuCloser ullink team">Das Team</a></li>
    <li><a href="{% url 'twittur:info' %}#projekt" class="menuCloser ullink projekt">Unser Projekt</a></li>
  </ul>
  <ul>
    <li><h3 class="text-uppercase"> FAQ </h3>
    {% if user.is_superuser %}<li><a href="{% url 'twittur:faq' %}#faq-hinzufuegen" class="menuCloser ullink faq-hinzufuegen">FAQ hinzuf&uuml;gen</a></li>{% endif %}
    <li><a href="{% url 'twittur:faq' %}#allgemeine-frage" class="menuCloser ullink allgemeine-frage">Allgemeine Fragen</a></li>
    <li><a href="{% url 'twittur:faq' %}#startseite" class="menuCloser ullink startseite">Startseite</a></li>
    <li><a href="{% url 'twittur:faq' %}#profilseite" class="menuCloser ullink profilseite">Profilseite</a></li>
    <li><a href="{% url 'twittur:faq' %}#infoseite" class="menuCloser ullink infoseite">Infoseite</a></li>
    <li><a href="{% url 'twittur:faq' %}#einstellungen" class="menuCloser ullink einstellungen">Einstellungen</a></li>
  </ul>
  <ul>
    <li><h3 class="text-uppercase"> Supportanfrage</h3></li>
    <li><a href="{% url 'twittur:support' %}#nachricht" class="menuCloser ullink nachricht">Nachricht schreiben</a></li>
    <li><a href="{% url 'twittur:support' %}#kontaktformular" class="menuCloser ullink kontaktformular">Kontaktformular</a></li>
  </ul>
  
{% elif active_page == 'settings' %}

  <ul>
    <h4>Einstellungen</h4>
    	{% if group %}
        <li><a href="#bild" class="menuCloser ullink bild">Gruppenbild ausw&auml;hlen</a></li>
        <li><a href="#gruppe" class="menuCloser ullink gruppe">Gruppendaten bearbeiten</a></li>
        <li><a href="#member" class="menuCloser ullink member">Mitglieder verwalten</a></li>
        <li><a href="#delete" class="menuCloser ullink delete">Gruppe l&ouml;schen</a></li>
      {% else %}
        <li><a href="#bild" class="menuCloser ullink bild">Profilbild ausw&auml;hlen</a></li>
        <li><a href="#account" class="menuCloser ullink account">Accountverwaltung</a></li>
        <li><a href="#daten" class="menuCloser ullink daten">Pers&ouml;nliche Daten</a></li>
        <li><a href="#seite" class="menuCloser ullink seite">Seiteneinstellungen</a></li>
        <li><a href="#delete" class="menuCloser ullink delete">Account l&ouml;schen</a></li>
      {% endif %}
  </ul>
  
{% endif %}

<p class="copy col-xs-12 text-uppercase text-center">
  <a href="https://www.cit.tu-berlin.de/" target="_blank">
    <img alt="Complex and Distributed IT Systems" class="cit-logo img-thumbnail" src="{% static 'img/cit_logo.jpg' %}">
  </a><br>
  <br>
  2015 Technische Universit&auml;t Berlin<br>
  &times; CIT Programmierpraktikum &times;<br>
  L. Butenkova, W. Cai, M. Chen,<br />
  K. Schmidt, T. Tietz, S. Zerbe<br />
  <br />
  <a href="{% url 'twittur:info' %}#impressum" class="menuCloser">Impressum</a>
</p>